/* Scss Document */
.counter > div {
  display: inline-block;
  width: 340px;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 12px; }
.counter > div:first-child {
  background: darkcyan; }
.counter > div:nth-child(2) {
  background: aqua; }
.counter > div:last-child {
  background: cadetblue; }

.entry-list {
  display: inline-block;
  height: 700px;
  border: 1px solid grey;
  padding-left: 0px;
  overflow-x: scroll; }
  .entry-list li:first-child {
    background-color: darkcyan;
    color: white;
    font-size: 24px;
    font-weight: bold; }
  .entry-list li:nth-child(even) {
    background-color: aqua; }
  .entry-list li:nth-child(odd) {
    background-color: darkcyan; }
  .entry-list li {
    width: 300px;
    height: 100px;
    color: black;
    cursor: pointer;
    padding: 16px 26px;
    list-style: none;
    word-wrap: break-word; }
  .entry-list li.stampSelected {
    background-color: cadetblue;
    color: white;
    font-weight: bold; }

.display-tile {
  display: inline-block;
  float: left;
  width: 600px;
  height: 600px;
  margin: 48px;
  padding: 48px;
  background-color: darkcyan; }
